# EaaSGrid Website Factory

APP_NAME=EaaSGrid Website Factory
APP_ENV=development
APP_VERSION=0.1.0

PROJECT_ROOT=auto

DATABASE_DRIVER=local
STORAGE_DRIVER=local
DEPLOYMENT_DRIVER=local

WEB_SERVER=nginx
